[flake8]
count = True
exclude =
    __pycache__,
    dist,
    .git,
    .github,
    .mypy_cache,
    .pytest_cache,
    .venv,
    .vscode
max-complexity = 10
max-line-length = 80
show_source = True
statistics = True
